# Vitis HLS 2025.2 component config - matrix inversion IP.
# See cfg/matmul.cfg for notes on the flow and the part choice.

part=xc7z020clg400-1

[hls]
flow_target=vivado
clock=10
clock_uncertainty=12.5%

syn.top=mat_inv_kernel
syn.file=../src/matinv.cpp
syn.cflags=-I../include -std=c++14

tb.file=../tb/tb_matinv.cpp
tb.file=../tb/vectors
tb.cflags=-I../include -I../tb -std=c++14

package.output.format=ip_catalog
package.output.syn=true
